@import url("theme.css");

* {
  border: none;
  font-family: "Maple Mono NF";
  font-weight: bold;
  font-size: 12px;
  min-height: 10px;
  border-radius: 0px;
}

window#waybar {
  background-color: @bar-bg;
  border-bottom: 2px solid @border-color;
  animation: dimBrighten 3s ease-in-out infinite;
}

@keyframes dimBrighten {
  0% {
    border-color: @border-color;
  }

  100% {
    border-color: @border-color;
  }

  50% {
    border-color: transparent;
  }
}

#workspaces {
  background-color: @main-bg;
  color: @main-fg;
  border-radius: 0;
}

#workspaces,
#workspaces button,
#pulseaudio-slider,
#backlight-slider {
  all: unset;

}

#workspaces>button {
  color: @main-fg;
  padding: 0 15px;
  font-weight: bold;
}

#workspaces>button.active {
  color: @main-fg;
  background: @main-bg;
  border-bottom: 2px solid @border-color;
}

#workspaces>button:hover {
  background: @main-bg;
  color: @main-fg;
  border-bottom: 2px solid @border-color;
}


#battery.warning,
#battery.critical,
#battery.urgent {
  color: red;
}

#battery.charging {
  color: @main-fg;
}

/*#taskbar {*/
/*  padding-left: 20px;*/
/*}*/

#taskbar>button:hover {
  background-color: transparent;
}

/*#workspaces {*/
/*  padding: 0px 20px 0px 0px;*/
/*}*/

#custom-separator {
  color: @main-fg;
  font-weight: bold;
}



#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray,
#custom-updates,
#custom-playerctl,
#custom-notifications {
  padding-left: 4px;
  padding-right: 13px;
  color: @main-fg;
}

